### Node ###
*.log
*.pid
*.seed
logs/
pids/
lib-cov/
reports/
.grunt/
node_modules/

### Yeoman ###
bower_components/
build/
dist/

### SublimeText ###
*.sublime-workspace
*.sublime-project

### PhpStorm/WebStorm ###
.idea/
.idea_modules/
out/
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
